<body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="../../index2.html"><b>Example</b>Project</a>
      </div>
     
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Sign in to start your session</p>
         
          <form  name="form"  [formGroup]="form" #LoginForm="ngForm" (ngSubmit)="Login(LoginForm.value)">
            <div class="input-group mb-3" >
              <input type="email" class="form-control" formControlName="username" name="username"  id="username" placeholder="Email"
               [ngClass]="{'is-invalid':form.get('username').touched && form.get('username').invalid}" >
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fa fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" id="password" name="password" placeholder="Password"  formControlName="password"
              [ngClass]="{'is-invalid':form.get('password').touched && form.get('password').invalid}">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fa fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <button type="submit"  [ngClass]="{'disabled':form.invalid}" class="btn btn-primary btn-block">Login</button>
              </div>
            </div>
          </form>    
          <div class="social-auth-links text-center mb-3">
          </div>
          <!-- /.social-auth-links -->
          <p class="mb-1">
            <a href="forgot-password.html">I forgot my password</a>
         <br/><br/>

            Example Project By Masood Munshie
          </p>
          <!-- <p class="mb-0">
            <a href="register.html" class="text-center">Register a new membership</a>
          </p> -->
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
    <!-- /.login-box -->
    </body>