<section class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">DataTable with minimal features & hover style</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">

          <button (click)="getSelectedRows()">Get Selected Rows</button>
          <ag-grid-angular #agGrid style="width: 500px; height: 500px;" class="ag-theme-balham" [rowData]="rowData"
            [columnDefs]="columnDefs" rowSelection="multiple">
          </ag-grid-angular>

          <!-- </table> -->
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

      <mat-slider min="1" max="100" step="1" value="1"></mat-slider>